language: python
python:
- '3.6'
sudo: required
services:
- docker
cache: pip
install:
- bin/install
env:
  global:
  - HELM_VERSION="v2.8.2"
  - DOCKER_USERNAME=captainfiaas
  - secure: eSQFAS/SJcBpEEYDaXwSV932XiZHI6IJ97mBJhFWRvxktSrBrAdLqMhjAEGRbaCDfGePwR24VZDTRgdBepV6LKjOGQWf7ATjG2JpFa0PAI1B0ppqcIPBdufouTaBuJ4Ije+pCKHsz7oTkr/8yf65KDjsjSmjVP7jvToxYg64nUIaYLnybiJdC1y5/UmjJge0vFteWWlnDkkQwOnid9jP/PgDfUTfzDkPYn2THG0jNXszV+jmThOqF/85vIHSZDBmuZ6dIhZS4tct6v2ojD8IxrxD4LdAQ//GmOJfQFiXhhjvGyvfWKppslKcNBhn0NnPNZpbfdUC584CmVaI8plaixh7kRl9dfmlU00nWWsFTtflPeCONM0jRZhLd72eTm8hfEgnt4yjteIUOhOl89HILdFQfzRVvoPgrUnkgiCCG35aO0zobz8wnMtRMFiau5BrDOTZW24UCDAbsjwAE1OsfS3sdwzU6jroZOp6CNphorS2wRmQa2w0vIon1ziaVLi5+3Xq79enXg6iK1ghMnO7ZCs9ZtYPrmZLBYlXlmHNtFmztO6VwaI9VfR45mAev2YXKEc6TbqM1pL+jXWC6EyLn2FW9o0HUSi06q/wIWS4th6Pue+kLwf3HnevjmHaemmhfGMFpGtVTCc+1xGLBmhlml4wFgJZry7+9aEmq63DPDc= # DOCKER_PASSWORD
script:
- tox
- bin/docker_build
after_success:
- tox -e coverage
deploy:
  provider: script
  script: VERSION=$(python setup.py --version) TAG=$(bin/tag_release |tail -1) bash -c 'bin/docker_push && bin/publish_helm_chart'
  skip_cleanup: true
  on:
    branch: master
